body {
  margin: 0;
  padding: 0;
  color: #9e9ea4;
  font-family: 'Montserrat', sans-serif;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon, .icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.container-website{
  background-color: #ededed;
  padding-top: 1% !important;
}
.grid-container {
  display: grid;
  grid-template-columns:  0.5fr 3fr ;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

/* Header  */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}
.link-tag{
  color: rgba(0, 0, 0, 0.6); /* Đen với độ trong suốt 50% */
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}
.menu-icon {
  display: none;
}
/* End Header  */
.filter{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter h3{
  color: black;
  font-size: 30px;
}

.button-filter{
  padding: 15px;
  border: 0px !important;
  outline: none;
  background-color: white;
}
.icon-down{
  width: 10px;
}
/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #263043;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
}
.sidebar-brand img {
  width: 100%;
}
.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;

}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: rgb(199, 194, 194);
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

/* End Sidebar  */


/* Main  */  
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: white;
}



.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}
.control-chart{
  padding: 0 10%;
  background-color: #ededed;
}
.chart{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 margin-top: 3%;
}
.chart-col{
  color: white !important;
}
.chart div{
  /* background-color: #6f42c1 !important; */
  border-radius: 10px;
  padding: 1.5% 1%;

}

.chart-col-money {
  background-color: #5856d6 !important;
}
.chart-col-human {
  background-color: #39f !important;
}
.chart-col-product{
  background-color: #f9b115 !important;
}
.chart-col-nguyenlieu {
  background-color: #e55353 !important;
}
/* End Main  */
.control-chart{

}
.text-body-secondary ,.text-truncate{
  width: 100%;
  color: rgb(40 47 59 / 68%) !important;;
  text-align: center;
}
.text-truncate{
  font-weight: 600;

}
.main-chart{
  background-color: white;
  padding: 2%;
  margin-top: 2%;
  border: 0.5px groove ;
}
.box-progress{
  display: flex;
  justify-content: space-between;
  /* background-color: #ededed; */
  /* border-top: 1px solid black; */
}
.progress{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.cprogress{
  width: 100px !important;
  height: 10px !important;
}
/* Medium <= 992px */
  
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}
/* Small <= 768px */
  
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}
